.admin-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .admin-dashboard h1 {
    margin-bottom: 10px;
  }
  
  .admin-dashboard p {
    font-size: 16px;
    color: #333;
  }

  